---

---

<form>
	<button>Submit</button>
</form>

<script>
	const form = document.querySelector("form") as HTMLFormElement;

	form.addEventListener("submit", async (e) => {
		e.preventDefault();
		await fetch("http://localhost:3000/contacts", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				name: "alfonso",
				email: "alfonso@email.com",
			}),
		});
	});
</script>
