---
import { getCollection } from "astro:content";

import { getSearchParamsAsArray } from "@lib/utils";

import ProjectCard from "@components/portafolio/ui/ProjectCard.astro";

let projects = await getCollection("projects");

const filterItems = getSearchParamsAsArray(Astro.url, "tools");

if (filterItems.length > 0) {
	projects = projects.filter((project) => {
		const projectTools = project.data.icons.map((icon) => icon.id);
		return filterItems.some((i) => projectTools.includes(i));
	});
}
---

<div
	class="grid md:grid-cols-2 lg:grid-cols-3 justify-center gap-8 sm:gap-16 max-w-7xl mx-auto"
>
	{projects.map(({ data }) => <ProjectCard projectData={data} />)}
</div>
