---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

import { cn, getSearchParamsAsArray } from "@lib/utils";

import Heading from "@components/Heading.astro";
import Link from "@ui/Link.astro";

const allTools = await getCollection("tools");

const filterItems = getSearchParamsAsArray(Astro.url, "tools");
---

<div class="space-y-8">
	<div class="flex items-center gap-8">
		<Heading
			tagName="h3"
			size="h6"
			align="left"
		>
			Filtrar por herramientas
		</Heading>
		{
			filterItems.length > 0 && (
				<Link
					href=""
					variant="secondary"
					rounded
					size="xs"
					classes="relative"
					aria-pressed="true"
				>
					Reiniciar filtros
					<Icon
						name="icon--close"
						aria-hidden="true"
						size={18}
						class="bg-secondary text-secondary-content rounded-full absolute -top-2 -right-2 border-2 border-base-300"
					/>
				</Link>
			)
		}
	</div>
	<ul class="flex flex-wrap gap-4">
		{
			allTools.map((tool) => (
				<li>
					<Link
						href=""
						variant="secondary"
						rounded
						size="xs"
						classes={cn(
							"relative",
							!filterItems.includes(tool.id) && "btn-outline"
						)}
						aria-pressed={filterItems.includes(tool.id)}
						data-tool={tool.id}
					>
						{tool.data.title}
						{filterItems.includes(tool.id) && (
							<Icon
								name="icon--close"
								aria-hidden="true"
								size={18}
								class="bg-secondary text-secondary-content rounded-full absolute -top-2 -right-2 border-2 border-base-300"
							/>
						)}
					</Link>
				</li>
			))
		}
	</ul>
</div>
