---
// export const prerender = false;

import PortafolioLayout from "@layouts/PortafolioLayout.astro";

import Heading from "@components/Heading.astro";
import PostsGrid from "@components/portafolio/ui/PostsGrid.astro";

const title = "Blog";
const description = "Artículos escritos por Karina Hernández";
---

<PortafolioLayout
	{title}
	{description}
>
	<section
		class="py-16 sm:py-32 px-4 sm:px-16 space-y-16 sm:space-y-32 bg-base-300"
	>
		<Heading
			tagName="h1"
			size="h2"
			align="center"
			classes="max-w-sm sm:max-w-2xl mx-auto"
		>
			Mis Artículos
			<p slot="subtitle">
				Me gusta escribir sobre productividad, desarrollo web, diseño y sobre
				trabajar con clientes. Ten una idea de cómo es trabajar conmigo y cuál
				es mi proceso.
			</p>
		</Heading>
		<PostsGrid />
	</section>
</PortafolioLayout>
