---
import BaseLayout from "@layouts/BaseLayout.astro";

import Heading from "@components/Heading.astro";

const title = "Aprende Astro";
const description = "Crea sitios web modernos con Astro.";
---

<BaseLayout
	{title}
	{description}
>
	<Heading
		tagName="h1"
		size="h1"
		align="center"
	>
		{title}
		<p slot="subtitle">{description}</p>
	</Heading>
</BaseLayout>
