---
export const prerender = false;

import PortafolioLayout from "@layouts/PortafolioLayout.astro";

import Heading from "@components/Heading.astro";
import Contact from "@components/portafolio/Contact.astro";
import ProjectsGrid from "@components/portafolio/ui/ProjectsGrid.astro";
import ToolsFilter from "@components/portafolio/ui/ToolsFilter.astro";
---

<PortafolioLayout>
	<section
		class="py-16 sm:py-32 px-4 sm:px-16 space-y-16 sm:space-y-32 bg-base-300"
	>
		<Heading
			tagName="h1"
			size="h2"
			align="center"
			classes="max-w-sm sm:max-w-2xl mx-auto"
		>
			Proyectos
			<p slot="subtitle">
				Aquí hay algunos sitios web y aplicaciones recientes que puedes explorar
				por ti mismo.
			</p>
		</Heading>
		<ToolsFilter />
		<ProjectsGrid />
	</section>
	<Contact />
</PortafolioLayout>

<script>
	import { getSearchParamsAsArray, setNewUrlParams } from "@lib/utils";

	const filters = document.querySelectorAll(
		"[data-tool]"
	) as NodeListOf<HTMLButtonElement>;
	const clearAllBtn = document.querySelector("#clear-all");

	clearAllBtn?.addEventListener("click", (e) => {
		e.preventDefault();
		window.location.href = "proyectos";
	});

	filters.forEach((filter) => {
		filter.addEventListener("click", (e) => {
			e.preventDefault();

			const isPressed = filter.getAttribute("aria-pressed") === "true";
			filter.setAttribute("aria-pressed", isPressed ? "false" : "true");

			const existingParams = getSearchParamsAsArray(
				new URL(window.location.href),
				"tools"
			);

			const newParams = isPressed
				? existingParams.filter((param) => param !== filter.dataset.tool)
				: [...existingParams, filter.dataset.tool];

			const newUrl = setNewUrlParams({
				key: "tools",
				url: new URL(window.location.href),
				valueArray: newParams as string[],
			});

			window.location.assign(newUrl.toString());
		});
	});
</script>
