---
import { type HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

const headingOptions = {
	h1: "text-7xl",
	h2: "text-6xl",
	h3: "text-5xl",
	h4: "text-4xl",
	h5: "text-3xl",
	h6: "text-2xl",
};

const textAlign = {
	left: "text-left",
	center: "text-center",
	right: "text-right",
};

interface Props extends HTMLAttributes<keyof typeof headingOptions> {
	tagName: keyof typeof headingOptions;
	size: keyof typeof headingOptions;
	align: keyof typeof textAlign;
	hclasses?: string;
	classes?: string;
}

const { tagName, size, align, hclasses, classes, ...rest } = Astro.props;
const Tag = tagName;
---

<div
	class:list={twMerge(["text-xl space-y-4", textAlign[align], classes])}
	{...rest}
>
	<Tag
		class:list={twMerge([
			"font-bold leading-4",
			headingOptions[size],
			hclasses,
		])}
	>
		<slot />
	</Tag>
	<slot name="subtitle" />
</div>
