---
import Head from "@layouts/Head.astro";

import Header from "@components/portafolio/Header.astro";

const title = "Portafolio Catia";
const description =
	"Soy una diseñadora y desarrolladora autodidacta obsesionada con la calidad.";
---

<!doctype html>
<html lang="es">
	<Head
		{title}
		{description}
	/>
	<body>
		<Header />
		<main class="container mx-auto py-6 space-y-12 px-4 sm:px-8">
			<slot />
		</main>
	</body>
</html>
